
body {
overflow-x: hidden;
  font-family:Roboto-Light, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color:#2d2d42;
  margin: 0; 
  padding: 0;
  width: 100%;
  line-height: 1.33;
}
.b-container {
 width: 82%;
  margin:auto;
}
* {
  box-sizing: border-box;
}
h1,
h2 ,
h3{
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.b-header {
  width: 100%;
  background-color: #2d2d42;
  padding: 30px 0 30px 0;
}
.b-menu, 
.b-input{
display: none; 
}
.b-nav{
margin-bottom: 40px;
}
.b-logo{
  margin-left: 9%;
}
.b-burger{
  width: 30px;
  height: 1px;
  background-color: #f4f4f7;
}
.b-title {
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.31px;
  color: #2d2d42;
  margin-bottom: 20px;
  word-spacing: 2px;
} 
.b-title--header {
  color: #f4f4f7;
}
.b-subtitle {
  margin-bottom: 30px;
}
.b-subtitle--header{
  color: #f4f4f7;
  margin-bottom: 100px;
}
.b-link--full{
background-color: #64cae1;
 padding: 20px 0px 20px 0px; 
 width: 100%;
}
.b-link__text {
  color: white;
  text-decoration: none;
}
 .b-link__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.b-link:hover{
  opacity: 0.7;
}
.b-link__img{
  width: 20px;
  height: 20px;
}
/* section professional */
.b-professional {
  padding: 30px 0 0 0;
  width: 100%;
}
.b-card {
display: flex;
align-items: center;
padding: 30px 0 30px 0;
width: 100%;
position:relative;
}
.b-card::before {
content:"";
height: 1px;
position:absolute;
left: 50%;
right: 50%;
margin-left: -50vw;
margin-right:-50vw ;
width: 100vw;
background-color:#c0c6c8;
opacity: 0.2;
top:0px;
} 
.b-inside{
  margin-bottom: 29px;
}
 .b-card--some::after{
content: "";
height: 1px;
position:absolute;
left: 50%;
right: 50%;
margin-left: -50vw;
margin-right:-50vw ;
width: 100vw;
background-color:#c0c6c8;
opacity: 0.2;
top:150px;
}  
.b-card__img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.b-card__text {
  font-family: Roboto , sans-serif;
  font-size: 15px;
  font-weight: bold;
  color:#2d2d42;
}
.b-card__img--project{
  background-color: #63c9e0;
}
.b-card__img--hire {
  background-color: #f47e3d;
}
.b-card__img--digital {
  background-color: #d04b9b;
}
.b-title--professional{
  color:#c0c6c8;
  margin-bottom: 30px;
}
.b-list{
list-style: none;
 margin-bottom: 40px;
}
.b-list__item{
position: relative;
  line-height:1.33;
margin-bottom: 20px; 
letter-spacing:-0.1px;
}
.b-list__item::before{
  content:"";
  width: 20px;
  height: 1px;
  background-color:#64cae1;
position: absolute;
  top:8px;
  left:-40px;
  margin: 0;
}
.b-list__item--some{
  line-height: 1.0;
}
/* section work */
.b-work{
  width: 100%;
  margin: 0;
}
.b-subtitle--work{
  margin-bottom: 0;
}
.b-box__text{
  padding: 0 9% 0 9%;
}
.b-wrap--title{
  background-color: #f4f4f7;
  padding: 30px 0 30px 0;
  width: 100%; 
}
.b-box__title{
  font-weight: 900;
  font-size: 10px;
  line-height: 10px;
  letter-spacing:1.33;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.b-box__img{
  object-fit: contain;
  width: 100%;
  margin-bottom: 30px;
} 
.b-box__img--before,
.b-box--hidden{
  display: none;
}
/* footer */
.b-footer{
  background-color: #000000;
  padding: 30px 0 0 0;
  position: relative;
  background-image: url(../img/mobile/img-map-marked.svg);
  background-repeat: no-repeat;
  background-position:center 30%;
  background-size:auto;
}

.b-title--footer,
.b-subtitle--footer{
  color: #f4f4f7;
}
 .b-subtitle--footer{
   margin-bottom: 20px;
 }
.b-social{
  display: flex;
  max-width: 140px;
  justify-content: space-between;
  margin-bottom: 220px;
}
.b-address{
margin-bottom: 30px;
}
.b-address__title{
font-size: 20px;
font-weight: bold;
font-family: Roboto-Bold, sans-serif ;
font-size: 20px;
line-height: 30px;
color:#f4f4f7;
margin-bottom: 10px;
}
.b-address__subtitle{
color:#f4f4f7;
line-height:1.67;
}
.b-address__mail{
  color:#64cae1;
  text-decoration: none;
}
.b-address--some{
  margin-bottom: 40px;
}
.b-nav--footer{
  width: 100%;
    margin: 0;
    padding: 20px 0px 18px 9%;
    background-color: #2d2d42;
    list-style: none;
    line-height: 2.67; 
}
.b-nav__link--footer{
       color: #f4f4f7;
     text-decoration: none;
}
 .b-link--footer{
   display: block;
  bottom: 20px;
  color: #f4f4f7;
  background-color: #2d2d42;
  padding-left: 9%;
  padding-bottom: 30px;
} 
.b-link--footer:hover{
opacity: 0.3;
}
.b-link--some{
  display: none;
}
.icons:hover{
  opacity: 0.7;
}
                /* media 768 */
@media screen and (min-width:768px) {
body{
  font-size: 25px;
}
 .b-header{
  background:url("../img/desctop/img_header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color:#f4f4f7;
 padding:40px 0 158px 0;
 position: relative;
 margin-bottom: 0;
 box-shadow: inset 0 0 60px 400px rgba(0, 0, 0, 0.4);
} 
.b-container {
margin:0 auto;
 width: 82%;
}
.b-nav{
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 92px;
width: 100%;
}
menu{
  margin: 0;
  padding: 0;
}
.b-menu{
  padding-left:3%;
 list-style: none;
 display: flex;
  width:51%; 
justify-content:flex-start;
}
.b-menu__item{
  padding:0 10px 0 10px; 
margin-right: 3%;
}
.b-menu__link{
  white-space: nowrap;
  text-decoration: none;
  color:#f4f4f7;
}
.b-menu__link:hover{
opacity: 0.1;
}
.b-input{
  margin-left: auto;
  margin-right: 60px;
display:flex;
width: 15%;
justify-content: space-between;
}
input[type="radio"] {
  display: none;
}
.b-input .js-label {
    display: inline-block;
    padding: 10% 10%;
    cursor: pointer;
     height:40px;
  width:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
}
input[type="radio"]:checked+.js-label {
    border: 1px solid white;
   border-color:rgba(255,255,255,0.4);
}
.js-label:hover {
    border: 1px solid white;
   border-color:rgba(255,255,255,0.4);
}
.b-title{
  font-size: 50px;
  line-height:1.08;
 margin-bottom: 30px;
}
.b-title--header{
  width: 100%;
  margin: 0; 
  margin-bottom: 30px;
}
.b-subtitle{
  font-size: 25px;
  line-height:1.33;
  letter-spacing: normal;
}
.b-subtitle--header{
font-size: 20px;
line-height:1.5;
margin-bottom: 0;
} 
.b-link{
position: absolute;
width:49%;
bottom: 0;
left:0;
font-size: 20px;
padding:15px 0 15px 0;
border-top:1px solid #ffffff;
border-right:1px solid #ffffff;
border-color:rgba(255,255,255,0.1)
}
.b-link__wrapper{
  margin-left: 17%;
}
.b-link__img{
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.b-inside{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.b-professional{
  padding: 90px 0 117px 0;
}
.b-subtitle--professional{
 margin-bottom: 62px;
} 
 .b-card{
  border-top:none;
  border-bottom: none;
  flex-direction: column;
  align-items: flex-start;
  width: 31%;
}
.b-card__img {
padding: 30px;
height: 90px;
width: 90px;
margin-bottom: 30px;
}
.b-card::before ,
.b-card--some::after{
  display: none;
}
.b-card__text{
  font-size: 17px;
  line-height: 30px;
 width: 100%;
} 
.b-link--full{
  display: none;
}
.b-title--professional{
margin-bottom: 75px;
}
.b-list{
   list-style-position: inside;
   column-count: 2;
   column-gap: 50px;
  margin-bottom: 0;
  line-height: 1.5;
 }
.b-list__item{ 
   font-size: 15px;
  letter-spacing:0;
 }
.b-list__item::before{
  top:10px;
  width: 30px;
} 
.b-list__item--some{
  line-height: 1.3;
}

.b-wrapper--title{
  padding: 100px 0 90px 0;
}
/* section work */
.b-work{
width: 100%;
padding: 0;
}
.b-wrap--title{
 padding: 100px 0 90px 0; 
}
.b-box--header{
  position:relative;
  width: 100%;
}
.b-box__img--after{
  display: none;
}
.b-box__text--header{
  position:absolute;
  padding: 40px 40px 40px 40px;
  background-color: #64cae1;
  bottom:20px;
  right:50%;
  color:#f4f4f7;
  width: 39%;
  min-height: 63%;
}
 .b-box__img--before{
display: block;
margin: 0;
} 
.b-box__title--header{
  color:#f4f4f7;
  margin-bottom:13%;
}
.b-box__text{
  padding: 40px 40px 40px 40px;
}
.b-box__title{
 font-family: Roboto, sans-serif;
 font-size: 13px;
 line-height: 20px;
font-weight: 900;
letter-spacing: 1.73px;
margin-bottom: 30px;
text-transform: uppercase;
}
.b-wrap--box{
max-width: 100%;
display: flex;
flex-wrap:wrap;
position: relative;
}
.b-wrap--box::before{
content:"";
position: absolute;
 width: 1px;
  height:100%;
  opacity: 0.2;
  background-color: #c0c6c8;
  top:0;
  left: 50%;
}
.b-box__title--footer{
  margin-bottom: 13%;
}
.b-subtitle--box{
  letter-spacing:-0.3px;
}
.b-box__flex{
width: 50%;
background-color: #f4f4f7;
}
.b-box--hidden{
  display: block;
}
.b-box__img{
   width: 100%;
   object-fit: cover;
   object-position: center;
   margin-bottom: 0;
}
.b-subtitle--box{
  margin-bottom: 0;
}
.b-box__footer{
  position: relative;
  width: 100%;
} 
 .b-box__text--footer{
  position: absolute;
  padding: 40px 40px 40px 40px ;
  background-color: #f4f4f7;
  left: 50%;
  max-width: 39%;
bottom: 20px;
min-height: 63%; 
} 
.b-box__img--footer{
  display: block;
  margin: 0;
}
/* section footer */
.b-footer{
    background-size:831px 440px;
    padding:100px 0 130px 0;
  position: relative;
  background-position: center 70%;
    }
     .b-footer:before{
      top:40%;
      left:59%;
      width: 40px;
      height:40px;
      box-shadow: -70px -20px 0 3px #64cae1;
    }
.b-subtitle--footer{
   width: 45%;
   font-size:20px;
   line-height: 1.5;
   margin-bottom: 90px;
}
.b-social{
position: absolute;
  top:16%;
 right:28%; 
}
.b-title--footer{
margin-bottom: 75px;
}

.b-subtitle--before,
.b-nav--footer{
  display: none;
}
.icons{
  margin-left: 25px;
}
.b-wrapper--footer{
  padding-right: 9%;
  display: flex;
  justify-content:space-between;
  width: 100%;
}
.b-address__title{
 font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}
.b-address__subtitle{
  line-height: 1.67;
  font-size: 15px;
}
.b-address--some{
font-size: 20px;
}
.b-link--footer{
  position: absolute;
  bottom: 25px;
right:18%;
padding: 0;
background-color: transparent;
  font-size: 20px;
  color:#f4f4f7;
} 
.b-link--some{
   display: block;
  background-color: #64cae1;
  position: absolute;
  left:0;
  bottom:0;
  padding: 25px 0 25px 0;
}
}
/* media 980 */
@media screen and (min-width:980px) {
body{ 
   font-size:calc(30px + 30 * (100vw - 980px) / 2000);  
}
.b-title{
     font-size:calc(60px + 40 * (100vw - 980px) / 2000);  
}
.b-menu__item{
    margin-right:8%;
    padding:0 10px 0 10px;
}
.b-menu{
   padding-left:5%; 
}
.b-nav{
 font-size:calc(15px + 5 * (100vw - 980px) / 2000); 
}
.b-subtitle{   
     font-size:calc(30px + 40 * (100vw - 980px) / 2000); 
}
.b-subtitle--header{
   font-size:calc(20px + 20 * (100vw - 980px) / 2000); 
} 
.b-card__text{
   font-size:calc(20px + 10 * (100vw - 980px) / 2000); 
}
.b-list__item::before{
  top:9px;
 left:-50px;
}
.b-list__item{
 font-size:calc(20px + 20 * (100vw - 980px) / 2000)
}
.b-link{
padding:25px 0 25px 0;
}
.b-list{
   column-gap: 90px;  
 }
 .b-work{
width: 100%;
padding: 0;
}
.b-box--header{
  position:relative;
  width: 100%;
}
.b-box__text--header{
  padding: 40px 40px 40px 40px;
}
.b-box__text{
  padding: 40px 40px 40px 40px;
}
.b-box__title{
  font-size:calc(15px + 10 * (100vw - 980px) / 2000); 
}
 .b-box__text--footer{
  padding: 40px 40px 100px 40px ;
} 
.b-box__img--footer{
  display: block;
  margin: 0;
}
.b-subtitle--footer{
  font-size: 20px;
}
.b-footer{
  background-position:right 65%;
  background-size:80%;
}
    .b-address__title{
        font-size:calc(20px + 20 * (100vw - 980px) / 2000); 
    }
    .b-address__subtitle{
      font-size:calc(15px + 15 * (100vw - 980px) / 2000); 
    }
    .b-link--footer{
      font-size:calc(20px + 10 * (100vw - 980px) / 2000); 
    }
    .b-address--some{
      top:59%;
    }
}

/* madia 1440 */
@media screen and (min-width:1440px){
  body{
    padding: 0 9% 0 9%;
    background-color:#f4f4f7;
  }
.b-logo{
 margin-left: 2%;
}
.b-input{
 margin-right:0;
}
.b-menu__item{
  padding:0 10px 0 10px;
    margin-right:15%;
    padding:0;
}
  .b-header{
    margin-bottom: 100px;
  }
   .b-menu{
   padding-left:4%;
  }
  .b-professional{
    background-color: #ffffff;
  }

.b-list__item::before{
  top:20px;
} 
  .b-input{
    margin-left: 20%;
  }
  .b-box--header{
margin-bottom: 20px;
  }
.b-box__flex{
width: 49%;
}
.b-box__img{
   object-fit: cover;
   object-position: center;
}
.b-box__text--footer{
  left:51%
}
.b-box__text--header{
  right: 51%;
}
.b-wrap--box{
  justify-content: space-between;
}
.b-wrap--box::before{
display: none;
}
.b-social{
 right:31%; 
}
.b-footer{
  background-size:70%;
}
.b-address--some{
      top:58%;
    }
    .b-link--footer{
     right:21%;
    }
}